.amounts h2 {
    text-align: center;
    padding: 50px;
    cursor: pointer;
    transition: background 0.2s;
    color: #666;
}

.amounts h2:hover {
    background: #eee;
}

.amounts h2.selected {
    background: #eee;
    color: #000;
}

.banks {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.banks li {
    float: left;
    width: 16.6666%;
    padding: 30px;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    color: #666;
}


.banks li:hover {
    background: #eee;
}


.banks li.selected {
    background: #eee;
    color: #000;
}

.banks:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}